* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

aside {
  float:left;
  width: 30%;
  margin-top:35px;
  margin-bottom:auto;
  /*height:70%;*/
}

img {
  display: block;
  width: 80%;
  position:relative;
  left:50%;
  border-radius:50%;
  margin-top:10%;
  transform:translateX(-50%);
  /*transform:translateY(-30%);
  /*margin-left: auto;
  margin-right: auto;
  margin-top: auto; 
  margin-bottom: auto;*/
}

main {
  float: left; 
}

#full_name {
  padding-left:20px;
  margin: 2px;
  margin-bottom: 0px;
  font-weight: normal;
  color : #471c9c;
}

#handle{
  font-weight:normal;
  padding-left:40px;
}

#location{
  padding-left:200px;
}

#city{
  font-weight:normal;
}

body {
  font-family: "Noto Serif", sans-serif;
}

h3 {
  display: inline-block;
  margin-bottom: 0px;
  margin-top: 0px;
  color: #471c9c;
}

#h3_left {
  padding-left : 400px;
}

article {
  width: 69%;
  display: inline-block; 
}

p {
  margin-right: 100px;
}

#p2 {
  border-bottom-style: solid;
  border-color: #471c9c;
  border-width: 2px; 
}

#phone {
  display: inline-block;
}

b {
  color: #471c9c;  
}


.about {
  color:#471c9c;
  display:inline-block;
  font-weight:normal;
  width:100px;
  padding:8px;
}

nav {
  display:inline-block;
  width:100%;
  height:5rem;
  background-color:#1c1b43;
  float:left;
  color:white;
}

nav span#appname{
  font-size:1.5rem;
  line-height:5rem;
  float:left;
  margin-left:2rem;
}

nav section{
  float:right;
  display:inline-block;
  line-height:100%;
  margin-left:2rem;
}

nav section span{
  font-size:1rem;
  line-height:5rem;
  display:inline-block;
  margin-right:2rem;
}

nav section span a{
  color:white;
  text-decoration:none;
}